

body{
    background-color: rgb(213, 203, 223);
    text-decoration: solid;
    text-align: justify;
    border-top-width: 4px;
    text-size-adjust: 10px;
    background-image: 1234.jpg ;
    color: rgb(75, 1, 90);
    font-style: normal;
    font-size: large;
    font-style: inherit;
    font-weight: bolder;
}